@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@300;400;500;600;700;900&display=swap');

/********************************************
    Main
    font-family: 'Montserrat', sans-serif; 
    
    Sub
    font-family: 'Manrope', sans-serif;
********************************************/


@import url(./tmp/header.css);
@import url(./tmp/footer.css);
@import url(./tmp/star-rating.css);
@import url(./tmp/calendar.css);
@import url(./tmp/dropdown-date.css);
@import url(./tmp/dropdown.css);

:root{
    --header-footer-bg: #F4F4F4;
    --activies-slider-padding: 100px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif; 
}

main{
    flex: 1;
}

/*=======================================
    CONTAINER
=======================================*/
[class*="__container"]{
    max-width: 1670px;
    margin: 0 auto;

    transition: max-width 0.5s ease;
}

/*=======================================
    MEDIA BREAKPOINT CONTAINER
=======================================*/
@media screen and (max-width: 1675px){
    [class*="__container"]{ 
        max-width: 1540px; 
    }
}
@media screen and (max-width: 1560px){
    [class*="__container"]{ 
        max-width: 1200px; 
    }
}
@media screen and (max-width: 1200px){
    [class*="__container"]{ 
        max-width: 970px; 
    }
}
@media screen and (max-width: 992px){
    [class*="__container"]{ 
        max-width: 750px; 
    }
}
@media screen and (max-width: 768px){
    [class*="__container"]{
        margin: 0 15px;
    }
}

/*=======================================
    CONTAINER
=======================================*/
[class*="content__"]{
    margin: 0 0 125px;
}
[class*="content__"]:first-child{
    margin-top: 65px;
}
/*=======================================
    logo
=======================================*/
.logo{
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
}

/*=======================================
    Title
=======================================*/
.title {
    text-align: center;
}
.title:not(:last-child){
    margin-bottom: 50px;
}
.title__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.7em;
    color: #474747;
    text-transform: uppercase;
    
    margin-bottom: 25px;
}
.title__value {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.21;
    color: #2D2D2D;
}
@media screen and (max-width: 1560px){
    .title__label {
        margin-bottom: 20px;
    }
    .title__value{
        font-size: 36px;
    }
}
@media screen and (max-width: 500px){
    .title:not(:last-child){
        margin-bottom: 25px;
    }
    .title__label {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .title__value{
        font-size: 32px;
    }
}

/*=======================================
    Activies
=======================================*/
.activies__container {
    background-color: #fff;
    overflow-x: hidden;
}
/*=======================================
    Activies Slider
=======================================*/
.activies__slider{
    padding: 0 var(--activies-slider-padding) 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
    height: 620px;
}
.activies__slider::before,
.activies__slider::after{
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    width: var(--activies-slider-padding);
    height: 100%;
    background-color: inherit;
}
.activies__slider::before{
    left: 0;
}
.activies__slider::after{
    right: 0;
}
/*=======================================
    Activies Slide
=======================================*/
.activies__slider-slide {
    width: 100%;
    height: 100%;
    position: relative;

    border-radius: 10px;
    overflow: hidden;
}

.activies__slider-slide__image {
    width: 100%;
    height: 100%;

    transition: transform 0.5s ease;
}
.activies__slider-slide__image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.54) -32.98%, rgba(255, 255, 255, 0) 63.99%), url(.jpg), transparent;
}
.activies__slider-slide__image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

@media (any-hover: hover) {
    .activies__slider-slide:hover .activies__slider-slide__image{
        transform: scale(1.05);
    }
}

/*=======================================
    Activies Slide Text
=======================================*/
.activies__slider-slide__title {
    position: absolute;
    bottom: 48px;
    left: 40px;
}
.activies__slider-slide__title.title {
    text-align: left;
}
.activies__slider-slide__title .title__value {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;
    color: #FFFFFF;
}
.activies__slider-slide__title .title__label {
    margin: 9px 0 0;

    font-weight: 500;
    font-size: 17px;
    line-height: 1.24;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.7;
    text-transform: none;
}

/*=======================================
    Activies Slider Navigation
=======================================*/
.activies__slider__nav-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.15em;
    color: #2D2D2D;
    text-transform: uppercase;

    cursor: pointer;
}
.activies__slider__nav-btn.swiper-button-disabled{
    opacity: 0.5;
    cursor: default;
}
.activies__slider__nav-btn::before{
    content: '';
    width: 43px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}
.activies__slider__nav-btn--prev {
    left: 0;
    align-items: flex-start;
}
.activies__slider__nav-btn--next {
    right: 0;
    align-items: flex-end;
}
.activies__slider__nav-btn--prev::before{
    background-image: url(../img/icons/arrow-left.svg);
}
.activies__slider__nav-btn--next::before{
    background-image: url(../img/icons/arrow-right.svg);
}
/*=======================================
    Activies MEDIA BREAKPOINTS
=======================================*/
@media screen and (max-width: 1560px){
    .activies__slider{
        height: 520px;
    }
    .activies__slider-slide__title .title__value {
        font-size: 28px;
    }
    .activies__slider-slide__title .title__label {
        font-size: 14px;
    }
}
@media screen and (max-width: 500px){
    .activies__slider__nav-btn{
        top: unset;
        bottom: 0;
        transform: translateY(0);
    }
    :root{
        --activies-slider-padding: 0px;
    }
    .activies__slider{
        padding-bottom: 70px;
        background-color: #fff;
        position: relative;
        z-index: 1;
        height: 620px;
    }
}

/*=======================================
    Philosophy
=======================================*/
.content__philosophy {
}
.philosophy__container {
    padding: 0 var(--activies-slider-padding);
}
.philosophy__wrapper {
}
.philosophy__content {
    display: grid; 
    grid-template-columns: repeat(2, auto);
    column-gap: 80px;
    row-gap: 30px;
}
.philosophy__image {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    overflow: hidden;
}
.philosophy__image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.philosophy__list {
    max-width: 550px;

    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.philosophy-list__text-item {
    max-width: 550px;
}

.philosophy-list__text-item__title {
    position: relative;
}
.philosophy-list__text-item__title,
.philosophy-list__text{
    padding-left: 70px;
}
.philosophy-list__text-item__title:not(:last-child){
    margin-bottom: 20px;
}
.philosophy-list__text-item__number {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9B9B9B;
}
.philosophy-list__value {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;
    text-transform: capitalize;
    color: #3D3D3D;
}
.philosophy-list__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: #6D6D6D;
}
.philosophy-list__text p+p{
    margin-top: 0.8em;
}
@media screen and (max-width: 1200px){
    .philosophy__content{
        grid-template-columns: repeat(1, auto);
    }
    .philosophy__image{
        max-height: 350px;
    }
    .philosophy__list{
        max-width: 100%;
        align-items: center;
        row-gap: 35px;
    }

    .philosophy-list__text-item__title,
    .philosophy-list__text{
        padding-left: 50px;
    }
    .philosophy-list__text-item__title:not(:last-child){
        margin-bottom: 12px;
    }
    .philosophy-list__text-item__number {
        font-size: 22px;
    }
    .philosophy-list__value {
        font-size: 28px;
    }
    .philosophy-list__text {
        font-size: 14px;
    }
}

/*=======================================
    Apparts
=======================================*/
.content__appart {
    position: relative;
}
.appart{
    padding-bottom: 80px;
}
.appart::before{
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 65%;
    background-color: #F5F5F5;
}

/*=======================================
    Apparts Cards
=======================================*/
.appart__cards {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 545px));

    justify-content: center;

    column-gap: 30px;
    row-gap: 25px;
}
.appart__cards:not(:last-child){
    margin-bottom: 60px;
}
.appart__card {
    width: 100%;
}
.card-appart__image {
    display: block;
    width: 100%;
    height: 320px;

    border-radius: 10px;
    overflow: hidden;
    
    transition: height 0.3s ease;
}
.card-appart__image:not(:last-child){
    margin-bottom: 10px;
}
.card-appart__image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;

    transition: transform 0.5s ease;
}

@media (any-hover: hover) {
    .card-appart__image:hover img{
        transform: scale(1.05);
    }
}


.card-appart__row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 8px;
}
.card-appart__row:not(:last-child){
    margin-bottom: 14px;
}
.card-appart__title{
    min-width: 125px;
}
.card-appart__title-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    color: #2D2D2D;
}
.card-appart__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #959595;
}
@media screen and (max-width: 1440px){
    .card-appart__image {
        height: 260px;
        margin-bottom: 6px;
    }
    .card-appart__title-link {
        font-size: 26px;
    }
    .card-appart__price{
        margin-top: 6px;
        font-size: 16px;
    }
}
@media screen and (max-width: 992px){
    .appart__cards{
        grid-template-columns: repeat(2, minmax(250px, 510px));
    }
    
}
@media screen and (max-width: 570px){
    .appart__cards{
        grid-template-columns: repeat(1, minmax(250px, 510px));
    }
}
@media screen and (max-width: 375px){
    .card-appart__image {
        height: 200px;
    }
    .card-appart__title-link {
        font-size: 22px;
    }
    .card-appart__price{
        font-size: 14px;
    }
}

/*=======================================
    Apparts Search Form
=======================================*/
.appart__search {
    position: relative;
    z-index: 2;
}
.search-form__inputs{
    display: grid;
    grid-template-columns: repeat(3, minmax(calc(250px - 30px), 321px)) minmax(calc(250px - 30px), 261px);
    align-items: end;

    column-gap: 50px;
    row-gap: 20px;
}
.search-form__input-block {
    width: 100%;
}
.search-form__input-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 2px;
    color: #9B9B9B;
}
.search-form__input-title:not(:last-child){
    margin-bottom: 10px;
}
.search-form__input-item {
    width: 100%;
}
.search-form__input-btn{
    width: 100%;
    padding: 26px 22px;
    padding-right: 55px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 1px;
    color: #4E4E4E;
}
.search-form__input-btn::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    top: 50%;
    right: 35px;
    background-image: url('../img/icons/icon-arrow-down.svg');
    transform: translateY(-50%);
    transition: transform 0.5s ease;
}

.search-form__input-btn.dropdown-date__btn--active::after{
    transform: translateY(-50%) rotate(180deg);
}

.search-form__input-btn.dropdown-btn-form__btn.active::after{
    transform: translateY(-50%) rotate(180deg);
}

.search-form__input-btn:focus,
.search-form__input-btn.dropdown-date__btn--active,
.search-form__input-btn.dropdown-btn-form__btn.active {
    border: 1px solid var(--focus-border-color);
}

.search-form__input-item .dropdown-date__wrapper{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.search-form__btn-submit{
    text-align: center;
    max-width: 261px;

    max-height: 75.96px;

    padding: 26px 22px;
    border: 1px solid #3D3D3D;
    background-color: #3D3D3D;
    border-radius: 5px;
    transition: border 0.3s ease, background-color 0.3s ease, transform 0.3s ease;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
}
@media (any-hover: hover) {
    .search-form__btn-submit:hover{
        border: 1px solid #494949;
        background-color: #494949;
    }
}

.search-form__btn-submit:active{
    border: 1px solid #303030;
    background-color: #303030;
    transform: scale(0.97);
}

@media screen and (max-width: 1200px){
    .search-form__inputs{
        grid-template-columns: repeat(3, minmax(calc(280px - 30px), 321px));
    }
}
@media screen and (max-width: 1200px){
    .search-form__inputs{
        grid-template-columns: repeat(2, 1fr);
    }
    .search-form__btn-submit{
        width: 100%;
        max-width: none;
    }
}
@media screen and (max-width: 515px){
    .search-form__inputs{
        grid-template-columns: repeat(1, 1fr);
    }
}

/*=======================================
    Partners
=======================================*/
.partners__list {
    max-width: 1275px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.partners__item {
    max-width: 230px;
}
.partners__item img{
    max-width: 100%;
    display: block;
}

@media screen and (max-width: 1200px){
    .partners__list{
        justify-content: center;
    }
}

/*=======================================
    Reviews
=======================================*/
.reviews__container {
    padding: 15px;
    position: relative;
}
.reviews__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.reviews__bg-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}


.reviews__items {
    margin: 140px auto 100px;
    max-width: 1155px;
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 350px));
    gap: 50px;
}

@media screen and (max-width: 992px){
    .reviews__items {
        margin: 90px auto 60px;
        grid-template-columns: repeat(1, minmax(200px, 350px));
        justify-content: center;
    }
}

.reviews__text {
    position: relative;
    min-height: 190px;
    padding: 36px 12px 36px 36px;
    background-color: #fff;
    background-image: url("../img/reviews/card-bg.svg");
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 10px;

    font-size: 12px;
    line-height: 1.66;
    color: #474747;

    transition: transform 0.5s ease;
}

.reviews__text::before{
    content: "";
    display: block;
    height: 25px;
    background-color: #FF9921;
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18"><path opacity="0.4" d="M19.82 0.799998L19.34 4.22C18.38 4.14 17.6 4.3 17 4.7C16.4 5.08 15.98 5.64 15.74 6.38C15.52 7.1 15.48 7.94 15.62 8.9H19.82V17.06H11.66V8.9C11.66 6.02 12.33 3.84 13.67 2.36C15.01 0.859999 17.06 0.339998 19.82 0.799998ZM8.96 0.799998L8.48 4.22C7.52 4.14 6.74 4.3 6.14 4.7C5.54 5.08 5.12 5.64 4.88 6.38C4.66 7.1 4.62 7.94 4.76 8.9H8.96V17.06H0.8V8.9C0.8 6.02 1.47 3.84 2.81 2.36C4.15 0.859999 6.2 0.339998 8.96 0.799998Z"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18"><path opacity="0.4" d="M19.82 0.799998L19.34 4.22C18.38 4.14 17.6 4.3 17 4.7C16.4 5.08 15.98 5.64 15.74 6.38C15.52 7.1 15.48 7.94 15.62 8.9H19.82V17.06H11.66V8.9C11.66 6.02 12.33 3.84 13.67 2.36C15.01 0.859999 17.06 0.339998 19.82 0.799998ZM8.96 0.799998L8.48 4.22C7.52 4.14 6.74 4.3 6.14 4.7C5.54 5.08 5.12 5.64 4.88 6.38C4.66 7.1 4.62 7.94 4.76 8.9H8.96V17.06H0.8V8.9C0.8 6.02 1.47 3.84 2.81 2.36C4.15 0.859999 6.2 0.339998 8.96 0.799998Z"/></svg>');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    margin-bottom: 16px;
}

.reviews__text::after{
    content: "";
    position: absolute;
    top: calc(100% - 2px);
    left: 10%;

    width: 24px;
    height: 15.5px;
    background-color: #ffffff;
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14"><path d="M24 0.399902H0L9.62783 12.8358C10.8288 14.3872 13.1712 14.3872 14.3722 12.8358L24 0.399902Z" fill="white"/></svg>');
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14"><path d="M24 0.399902H0L9.62783 12.8358C10.8288 14.3872 13.1712 14.3872 14.3722 12.8358L24 0.399902Z" fill="white"/></svg>');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@media (any-hover: hover) {
    .reviews__text:hover{
        transform: translateY(3px) scale(1.05);
    }
}

.reviews__text:not(:last-child){
    margin-bottom: 40px;
}


.reviews__author {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.reviews__author-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}
.reviews__author-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.reviews__author-details {
    font-family: 'Manrope', sans-serif;
    color: #fff;
}
.reviews__author-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55;
}
.reviews__author-proffessional {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}