@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@300;400;500;600;700;900&display=swap');

/********************************************
    Main
    font-family: 'Montserrat', sans-serif; 
    
    Sub
    font-family: 'Manrope', sans-serif;
********************************************/


@import url(./tmp/header.css);
@import url(./tmp/footer.css);

:root{
    --header-footer-bg: #C4C4C4;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif; 
}


.main{
    flex: 1;
}

/*=======================================
    CONTAINER
=======================================*/
[class*="__container"]{
    max-width: 1670px;
    margin: 0 auto;
}

/*=======================================
    MEDIA BREAKPOINT CONTAINER
=======================================*/
@media screen and (max-width: 1675px){
    [class*="__container"]{ 
        max-width: 1540px; 
    }
}
@media screen and (max-width: 1560px){
    [class*="__container"]{ 
        max-width: 1200px; 
    }
}
@media screen and (max-width: 1200px){
    [class*="__container"]{ 
        max-width: 970px; 
    }
}
@media screen and (max-width: 992px){
    [class*="__container"]{ 
        max-width: 750px; 
    }
}
@media screen and (max-width: 768px){
    [class*="__container"]{
        margin: 0 15px;
    }
}