@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@300;400;500;600;700;900&display=swap');

/********************************************
    Main
    font-family: 'Montserrat', sans-serif; 
    
    Sub
    font-family: 'Manrope', sans-serif;
********************************************/


@import url(./tmp/header.css);
@import url(./tmp/footer.css);
@import url(./dropdown.css);

:root{
    --header-footer-bg: #F4F4F4;
    --activies-slider-padding: 100px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif; 
}

main{
    flex: 1;
}

/*=======================================
    CONTAINER
=======================================*/
[class*="__container"]{
    max-width: 1670px;
    margin: 0 auto;

    transition: max-width 0.5s ease;
}

[class*="content__"]{
    margin: 0 0 125px;
}
[class*="content__"]:first-child{
    margin-top: 65px;
}

.logo{
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3em;
}

/*=======================================
    Title
=======================================*/
.title {
    text-align: center;
}
.title + *{
    margin-top: 50px;
}
.title__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.7em;
    color: #474747;
    text-transform: uppercase;
    
    margin-bottom: 25px;
}
.title__value {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.21;
    color: #2D2D2D;
}
@media screen and (max-width: 1560px){
    .title__label {
        margin-bottom: 20px;
    }
    .title__value{
        font-size: 36px;
    }
}
@media screen and (max-width: 500px){
    .title + *{
        margin-top: 25px;
    }
    .title__label {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .title__value{
        font-size: 32px;
    }
}

/*=======================================
    Activies
=======================================*/
.activies__container {
    background-color: #fff;
    overflow-x: hidden;
}
/*=======================================
    Activies Slider
=======================================*/
.activies__slider{
    padding: 0 var(--activies-slider-padding) 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
    height: 620px;
}
.activies__slider::before,
.activies__slider::after{
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    width: var(--activies-slider-padding);
    height: 100%;
    background-color: inherit;
}
.activies__slider::before{
    left: 0;
}
.activies__slider::after{
    right: 0;
}
/*=======================================
    Activies Slide
=======================================*/
.activies__slider-slide {
    width: 100%;
    height: 100%;
    position: relative;

    border-radius: 10px;
    overflow: hidden;
}

.activies__slider-slide__image {
    width: 100%;
    height: 100%;

    transition: transform 0.5s ease;
}
.activies__slider-slide__image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.54) -32.98%, rgba(255, 255, 255, 0) 63.99%), url(.jpg), transparent;
}
.activies__slider-slide__image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.activies__slider-slide:hover .activies__slider-slide__image{
    transform: scale(1.1);
}

/*=======================================
    Activies Slide Text
=======================================*/
.activies__slider-slide__title {
    position: absolute;
    bottom: 48px;
    left: 40px;
}
.activies__slider-slide__title.title {
    text-align: left;
}
.activies__slider-slide__title .title__value {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;
    color: #FFFFFF;
}
.activies__slider-slide__title .title__label {
    margin: 9px 0 0;

    font-weight: 500;
    font-size: 17px;
    line-height: 1.24;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.7;
    text-transform: none;
}

/*=======================================
    Activies Slider Navigation
=======================================*/
.activies__slider__nav-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.15em;
    color: #2D2D2D;
    text-transform: uppercase;

    cursor: pointer;
}
.activies__slider__nav-btn.swiper-button-disabled{
    opacity: 0.5;
    cursor: default;
}
.activies__slider__nav-btn::before{
    content: '';
    width: 43px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}
.activies__slider__nav-btn--prev {
    left: 0;
    align-items: flex-start;
}
.activies__slider__nav-btn--next {
    right: 0;
    align-items: flex-end;
}
.activies__slider__nav-btn--prev::before{
    background-image: url(../img/icons/arrow-left.svg);
}
.activies__slider__nav-btn--next::before{
    background-image: url(../img/icons/arrow-right.svg);
}
/*=======================================
    Activies MEDIA BREAKPOINTS
=======================================*/
@media screen and (max-width: 1560px){
    .activies__slider{
        height: 520px;
    }
    .activies__slider-slide__title .title__value {
        font-size: 28px;
    }
    .activies__slider-slide__title .title__label {
        font-size: 14px;
    }
}
@media screen and (max-width: 500px){
    .activies__slider__nav-btn{
        top: unset;
        bottom: 0;
        transform: translateY(0);
    }
    :root{
        --activies-slider-padding: 0px;
    }
    .activies__slider{
        padding-bottom: 70px;
        background-color: #fff;
        position: relative;
        z-index: 1;
        height: 620px;
    }
}

/*=======================================
    Philosophy
=======================================*/
.content__philosophy {
}
.philosophy__container {
    padding: 0 var(--activies-slider-padding);
}
.philosophy__wrapper {
}
.philosophy__content {
    display: grid; 
    grid-template-columns: repeat(2, auto);
    column-gap: 80px;
    row-gap: 30px;
}
.philosophy__image {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    overflow: hidden;
}
.philosophy__image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.philosophy__list {
    max-width: 550px;

    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.philosophy-list__text-item {
    max-width: 550px;
}

.philosophy-list__text-item__title {
    position: relative;
}
.philosophy-list__text-item__title,
.philosophy-list__text{
    padding-left: 70px;
}
.philosophy-list__text-item__title + .philosophy-list__text{
    margin-top: 20px;
}
.philosophy-list__text-item__number {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9B9B9B;
}
.philosophy-list__value {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;
    text-transform: capitalize;
    color: #3D3D3D;
}
.philosophy-list__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    color: #6D6D6D;
}
.philosophy-list__text p+p{
    margin-top: 0.8em;
}
@media screen and (max-width: 1200px){
    .philosophy__content{
        grid-template-columns: repeat(1, auto);
    }
    .philosophy__image{
        max-height: 350px;
    }
    .philosophy__list{
        max-width: 100%;
        align-items: center;
        row-gap: 35px;
    }

    .philosophy-list__text-item__title,
    .philosophy-list__text{
        padding-left: 50px;
    }
    .philosophy-list__text-item__title + .philosophy-list__text{
        margin-top: 12px;
    }
    .philosophy-list__text-item__number {
        font-size: 22px;
    }
    .philosophy-list__value {
        font-size: 28px;
    }
    .philosophy-list__text {
        font-size: 14px;
    }
}

/*=======================================
    Apparts
=======================================*/
.content__appart {
    position: relative;
}
.appart{
    padding-bottom: 80px;
}
.appart::before{
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 65%;
    background-color: #F5F5F5;
}

/*=======================================
    Apparts Cards
=======================================*/
.appart__cards {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 545px));

    justify-content: center;

    column-gap: 30px;
    row-gap: 25px;
}
.appart__card {
    width: 100%;
}
.card-appart__image {
    margin-bottom: 10px;

    display: block;
    width: 100%;
    height: 320px;

    border-radius: 10px;
    overflow: hidden;
    
    transition: height 0.3s ease;
}
.card-appart__image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.card-appart__row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
}
.card-appart__title-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.23;
    color: #2D2D2D;
}
.card-appart__price {
    margin-top: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #959595;
}
@media screen and (max-width: 1440px){
    .card-appart__image {
        height: 260px;
        margin-bottom: 6px;
    }
    .card-appart__title-link {
        font-size: 26px;
    }
    .card-appart__price{
        margin-top: 6px;
        font-size: 16px;
    }
}
@media screen and (max-width: 992px){
    .appart__cards{
        grid-template-columns: repeat(2, minmax(250px, 510px));
    }
    
}
@media screen and (max-width: 570px){
    .appart__cards{
        grid-template-columns: repeat(1, minmax(250px, 510px));
    }
}
@media screen and (max-width: 375px){
    .card-appart__image {
        height: 200px;
    }
    .card-appart__title-link {
        font-size: 22px;
    }
    .card-appart__price{
        font-size: 14px;
    }
}

/*=======================================
    Apparts Search Form
=======================================*/
.appart__search-form {
    margin-top: 80px;
    position: relative;
    z-index: 2;
}
.search-form,
.search-form__input-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    column-gap: 90px;
    row-gap: 40px;
}
.search-form{
    justify-content: space-between;
}

.search-form__input-list{
    column-gap: 80px;
}

.search-form__input-item{
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 250px;
    min-width: 178px;
}
.search-form__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 3px;
    color: #9B9B9B;

    margin-bottom: 10px;
}
.search-form__select {
    max-width: 250px;
}
.search-form__btn,
.search-form__select-btn {
    height: 65px;
    padding: 20px 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 1px;

    border-radius: 5px;
}
.search-form__select-btn{
    color: #4E4E4E;
    background-color: #F5F5F5;
    border: 1px solid #DBDBDB;
}
.search-form__select-list {
    margin-top: 1px;
    border: 1px solid #DBDBDB;
}
.search-form__select-list-item{
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
.search-form__select-list-item:first-child{
    border-top: 0px solid #DBDBDB;
}
.search-form__select-list-item:last-child{
    border-bottom: 0px solid #DBDBDB;
}

.search-form__select-list-item.active{
    background-color: #e4e4e4;
}
.search-form__select-btn:focus, .search-form__select-btn.active{
    border-color: #e4e4e4;
}
.search-form__select-btn:hover{
    background-color: rgb(230, 232, 240);
}
.search-form__select-btn:active{
    background-color: rgb(216, 218, 226);
}
.search-form__select-list-item:hover{
    background-color: rgb(230, 232, 240);
}


.search-form__btn {
    max-width: 250px;
    min-width: 178px;

    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #3D3D3D;

    transition: all 0.3s ease;
}

.search-form__btn:hover{
    background-color: #2e2e2e;
}
.search-form__btn:active{
    transform: translateY(3px);
}

@media screen and (max-width: 1200px){
    .search-form__input-list {    
        column-gap: 30px;
    }
}


/*=======================================
    MEDIA BREAKPOINT CONTAINER
=======================================*/
@media screen and (max-width: 1675px){
    [class*="__container"]{ 
        max-width: 1540px; 
    }
}
@media screen and (max-width: 1560px){
    [class*="__container"]{ 
        max-width: 1200px; 
    }
}
@media screen and (max-width: 1200px){
    [class*="__container"]{ 
        max-width: 970px; 
    }
}
@media screen and (max-width: 992px){
    [class*="__container"]{ 
        max-width: 750px; 
    }
}
@media screen and (max-width: 768px){
    [class*="__container"]{
        margin: 0 15px;
    }
}